{"repositories":[{"id":"aws-greengrass/aws-greengrass-gdk-cli","org":"aws-greengrass","repo":"aws-greengrass-gdk-cli"},{"id":"langchain-ai/langchain","org":"langchain-ai","repo":"langchain","ignore_file_param":"/langchain-ai/langchain/ignore_file"},{"id":"langchain-ai/langchainjs","org":"langchain-ai","repo":"langchainjs"},{"id":"scikit-learn/scikit-learn","org":"scikit-learn","repo":"scikit-learn","ignore_file_param":"/scikit-learn/scikit-learn/ignore_file"},{"id":"joke2k/faker","org":"joke2k","repo":"faker","ignore_file_param":"/joke2k/faker/ignore_file"}]}